:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 400px;
  margin: 0 auto;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  background: #f9f9f9;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
  background-color: #daf8cb;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  word-break: break-all;
  overflow-wrap: break-word;
}

.allie-message {
  text-align: left;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  word-break: break-all;
  overflow-wrap: break-word;
}

.message-text {
  display: inline-block;
  padding: 5px 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  background: #fff;
}

textarea {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}